.cart-sidebar h2 {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  background-size: cover;
  font-Family: '"Dancing Script", cursive';
  background-position: center;
 

}

.cart-sidebar {
  background-color: #f8f9fa;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url(//theme.hstatic.net/1000313040/1000406925/14/breadcrumb_bg.png?v=2115);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.cart-all {
  display: flex;
  background-color: rgb(245, 234, 220);
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}


.table-none {
  padding: 2%;
  
}.row-with-border {
  border-bottom: 1px solid #afa8a8; /* Sử dụng màu xám nhạt hơn */
  padding-bottom: 10px;
}
.cart-bw-cart{
  margin-top: 5%;
}
.table-none-accout{
  display: flex;
  align-items: center;
}
.table-none-accout h5{
  padding: 10%;
}
.cart-buttona{
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 40px;
  background-color:rgb(245, 234, 220) ;
  margin-top: -10%;
}
.cart-buttonb{
  border: none;
  cursor: pointer;
  font-size: 30px;
  background-color:rgb(245, 234, 220) ;
  margin-top: -9%;

}


